/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#content{
    font-size: 1.5em;
    display: grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "logo    logo" 
                        " sidebar main";

}
:root{
    --cyan-50 :#e0f7fa;
    --cyan-100:#b2ebf2;
    --cyan-200:#80deea;
    --cyan-300:#4dd0e1;
    --cyan-400:#26c6da;
    --cyan-500:#00bcd4;
    --cyan-600:#00acc1;
    --cyan-700:#0097a7;
    --cyan-800:#00838f;
    --cyan-900:#006064;
}
#content{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto','Courier New', Courier, monospace;
}
textarea{
    font-family: 'Roboto','Courier New', Courier, monospace;
}
.logo-wrap{
    grid-area: logo;
    background-color: var(--cyan-300);
    display: flex;
    align-items: center;

    color: white;
}
.logo{
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    margin-left: 16px;
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--cyan-200);
}
.main-content{
    grid-area: main;
    padding-top: 32px;
    background-color: var(--cyan-50);
    overflow: scroll;
    overflow-y:auto;
    overflow-x:auto;
}
.sidebar>ul{
    margin-top: 32px;
    padding-left: 16px;
}
.sidebar li{
    margin-bottom: 16px;

    width: 80%;
}
.sidebar li > button{
    border: none;
    background-color: #0097a7;
    width: 100%;

    text-align: left;
    font-size: 0.75em;
    padding: 0.5em;
    font-weight: 600;
}
#project-list{
    width: 100%;
    
    height: 200px;

    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
}
#projects-list > li{
    font-size: 0.75em;
}
#add-project{
    width: 100%;
    display: flex;
    flex-flow: column;
}
.btn-div{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
#submit-proj{
    background-color: rgb(62, 212, 62);
}
#cancel-proj{
    background-color: rgb(229, 14, 14);
}
#project-add-name{
    width: 97%;
    font-size: 0.75em;
}
.error{
    color: red;
    font-size: 0.6em;
    padding-top: 0.4em;
}

#submit-proj,
#cancel-proj{
    font-weight: 600;
    width: 45%;
    font-size: 0.75em;
    border: none;
    padding: 0.5em;
    border-radius: 0.25em;
}
.todo:not(:last-child){
    margin-bottom: 0.5em;
}
.todo{
    display: flex;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    background-color: var(--cyan-100);
    padding: 0.75em;
    font-weight: 100;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.todo[priority = "1"]{
    border-left: 3px solid green;
}
.todo[priority = "2"]{
    border-left: 3px solid yellow;
}
.todo[priority = "3"]{
    border-left: 3px solid red;
}

.complete{
    width: calc(1em - 6px);
    height: calc(1em - 6px);

    border: 3px solid var(--cyan-600);
    border-radius: 6px;
    margin-right: 16px;
}

.complete.checked{
    background-color: var(--cyan-800);
}
.todo > .title.checked{
    text-decoration:line-through;
    color: gray;
}
.todo > .title{
    margin-right: auto;
}
.todo > .date,
.todo > .expand,
.todo > .edit{
    margin-right: 24px;
}
.todo > .trash:hover,
.todo > .expand:hover,
.todo > .complete:hover,
.todo > .edit:hover,
img.close,
button:hover,
button#submit{
    cursor: pointer;
}
.sidebar{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.add{
    color: white;
    font-size: 2.5em;
    background-color: var(--cyan-600);
    border-radius: 40px;
    
    padding: 8px;
    margin: 16px;

    width: 48px;
    height: 48px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.add:hover{
    cursor: pointer;
    box-shadow: 0px 3px 5px rgb(0, 0, 0);
}
.popup{
    position:absolute;

    margin-inline: auto;
    margin-block: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;

    background-color: white;
    border: none;

    max-width: 600px;
    max-height: 370px;
    
    border-radius: 16px;
}
.form-container{
    height: calc(100% - 1.5em - 8px);
    width: 95%;
    margin-inline: auto;
}
#myForm ul{
    display: flex;
    flex-flow: column;
    height: 100%;

    justify-content: space-between;
}
#new-title{
    width: 100%;
    font-size: 1em;
    background-color: white;

    border: none;
    margin-block: 8px;
}
#new-title:focus{
    background-color: white;
}
#new-description{
    font-size: 1em;
    width: 100%;

    height: 6em;
    resize: none;
    border: none;
}
#myForm>.title,
#expandWindow > .title{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3%;
    background-color: var(--cyan-400);
    height: 1.5em;
}
#myForm > .title > img.close,
#expandWindow > .title > img.close{
    width: 16px;
}

li.picker-field{
    
    display: flex;
    flex-flow: column;

    align-items: flex-start;
}
#expand-description{
    text-align: left;
    margin-top: 16px;
}

#submit{
    position: absolute;
    bottom: 8px;
    right: calc(5%);
    border: none;
    font-size: 0.75em;
    background-color: var(--cyan-500);
    color: white;
    padding: 0.5em;
    border-radius: 0.25em;
}